/libs
node_modules
.DS_Store
npm-debug.log
/closure
/redis/dump.rdb
/redis/redis.log
/public/javascripts/main-min.js
/public/stylesheets/main.css
/redis/stdout
/nedb/categories.nedb
/nedb/categories.log
