[submodule "public/closure-thirdparty/closure-scroller"]
	path = public/closure-thirdparty/closure-scroller
	url = git://github.com/piglovesyou/closure-scroller.git
[submodule "public/closure-thirdparty/closure-thousandrows"]
	path = public/closure-thirdparty/closure-thousandrows
	url = git://github.com/piglovesyou/closure-thousandrows.git
[submodule "soy-functions"]
	path = soy-functions
	url = https://github.com/piglovesyou/soy-functions.git
