script(src='closure-library/closure/goog/base.js')
script(src='closure-library/closure/goog/string/string.js')
script(src='closure-library/closure/goog/useragent/useragent.js')
script(src='closure-library/closure/goog/object/object.js')
script(src='closure-library/closure/goog/debug/error.js')
script(src='closure-library/closure/goog/asserts/asserts.js')
script(src='closure-library/closure/goog/array/array.js')
script(src='closure-library/closure/goog/math/math.js')
script(src='closure-library/closure/goog/math/coordinate.js')
script(src='closure-library/closure/goog/math/box.js')
script(src='closure-library/closure/goog/math/size.js')
script(src='closure-library/closure/goog/math/rect.js')
script(src='closure-library/closure/goog/dom/classes.js')
script(src='closure-library/closure/goog/dom/tagname.js')
script(src='closure-library/closure/goog/dom/browserfeature.js')
script(src='closure-library/closure/goog/dom/dom.js')
script(src='closure-library/closure/goog/style/style.js')
script(src='closure-library/closure/goog/debug/errorhandlerweakdep.js')
script(src='closure-library/closure/goog/events/listener.js')
script(src='closure-library/closure/goog/events/browserfeature.js')
script(src='closure-library/closure/goog/debug/entrypointregistry.js')
script(src='closure-library/closure/goog/events/eventwrapper.js')
script(src='closure-library/closure/goog/events/eventtype.js')
script(src='closure-library/closure/goog/disposable/idisposable.js')
script(src='closure-library/closure/goog/disposable/disposable.js')
script(src='closure-library/closure/goog/events/event.js')
script(src='closure-library/closure/goog/reflect/reflect.js')
script(src='closure-library/closure/goog/events/browserevent.js')
script(src='closure-library/closure/goog/events/events.js')
script(src='closure-library/closure/goog/events/eventhandler.js')
script(src='closure-library/closure/goog/ui/idgenerator.js')
script(src='closure-library/closure/goog/events/eventtarget.js')
script(src='closure-library/closure/goog/ui/component.js')
script(src='closure-library/closure/goog/style/bidi.js')
script(src='closure-library/closure/goog/fx/dragger.js')
script(src='closure-library/closure/goog/timer/timer.js')
script(src='closure-library/closure/goog/events/keycodes.js')
script(src='closure-library/closure/goog/fx/transition.js')
script(src='closure-library/closure/goog/ui/popupbase.js')
script(src='closure-library/closure/goog/events/focushandler.js')
script(src='closure-library/closure/goog/dom/iframe.js')
script(src='closure-library/closure/goog/ui/modalpopup.js')
script(src='closure-library/closure/goog/iter/iter.js')
script(src='closure-library/closure/goog/structs/structs.js')
script(src='closure-library/closure/goog/structs/map.js')
script(src='closure-library/closure/goog/dom/a11y.js')
script(src='closure-library/closure/goog/ui/dialog.js')
script(src='app/commonui/dialog.js')
script(src='app/dom/dom.js')
script(src='app/commonui/tabpane.js')
script(src='app/controller/welcomedialog.js')
script(src='closure-library/closure/goog/dom/viewportsizemonitor.js')
script(src='app/dom/viewportsizemonitor.js')
script(src='closure-library/closure/goog/ui/splitpane.js')
script(src='closure-library/closure/goog/i18n/datetimesymbols.js')
script(src='closure-library/closure/goog/date/datelike.js')
script(src='closure-library/closure/goog/date/date.js')
script(src='closure-library/closure/goog/positioning/positioning.js')
script(src='closure-library/closure/goog/positioning/abstractposition.js')
script(src='closure-library/closure/goog/positioning/anchoredposition.js')
script(src='closure-library/closure/goog/positioning/viewportposition.js')
script(src='closure-library/closure/goog/positioning/clientposition.js')
script(src='closure-library/closure/goog/positioning/viewportclientposition.js')
script(src='closure-library/closure/goog/positioning/absoluteposition.js')
script(src='closure-library/closure/goog/positioning/anchoredviewportposition.js')
script(src='closure-library/closure/goog/ui/popup.js')
script(src='closure-library/closure/goog/structs/collection.js')
script(src='closure-library/closure/goog/structs/set.js')
script(src='closure-library/closure/goog/ui/tooltip.js')
script(src='closure-library/closure/goog/i18n/timezone.js')
script(src='closure-library/closure/goog/i18n/datetimeformat.js')
script(src='closure-library/closure/goog/date/relative.js')
script(src='closure-library/closure/goog/uri/utils.js')
script(src='closure-library/closure/goog/uri/uri.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/rowrenderer.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/row.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/page.js')
script(src='closure-library/closure/goog/ui/controlcontent.js')
script(src='closure-library/closure/goog/ui/controlrenderer.js')
script(src='closure-library/closure/goog/ui/registry.js')
script(src='closure-library/closure/goog/ui/decorate.js')
script(src='closure-library/closure/goog/events/keyhandler.js')
script(src='closure-library/closure/goog/ui/control.js')
script(src='closure-library/closure/goog/events/mousewheelhandler.js')
script(src='closure-library/closure/goog/async/delay.js')
script(src='closure-library/closure/goog/functions/functions.js')
script(src='closure-library/closure/goog/async/animationdelay.js')
script(src='closure-library/closure/goog/fx/anim/anim.js')
script(src='closure-library/closure/goog/fx/transitionbase.js')
script(src='closure-library/closure/goog/fx/animation.js')
script(src='closure-library/closure/goog/color/names.js')
script(src='closure-library/closure/goog/color/color.js')
script(src='closure-library/closure/goog/fx/dom.js')
script(src='closure-library/closure/goog/fx/animationqueue.js')
script(src='closure-library/closure/goog/ui/rangemodel.js')
script(src='closure-library/closure/goog/ui/sliderbase.js')
script(src='closure-library/closure/goog/ui/slider.js')
script(src='closure-thirdparty/closure-scroller/piglovesyou/goog/ui/scroller.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/virtualscroller.js')
script(src='closure-library/closure/goog/net/errorcode.js')
script(src='closure-library/closure/goog/net/httpstatus.js')
script(src='closure-library/closure/goog/json/json.js')
script(src='closure-library/closure/goog/net/xmlhttpfactory.js')
script(src='closure-library/closure/goog/net/wrapperxmlhttpfactory.js')
script(src='closure-library/closure/goog/net/xmlhttp.js')
script(src='closure-library/closure/goog/net/eventtype.js')
script(src='closure-library/closure/goog/debug/debug.js')
script(src='closure-library/closure/goog/debug/logrecord.js')
script(src='closure-library/closure/goog/debug/logbuffer.js')
script(src='closure-library/closure/goog/debug/logger.js')
script(src='closure-library/closure/goog/net/xhrio.js')
script(src='closure-library/closure/goog/structs/queue.js')
script(src='closure-library/closure/goog/structs/pool.js')
script(src='closure-library/closure/goog/structs/node.js')
script(src='closure-library/closure/goog/structs/heap.js')
script(src='closure-library/closure/goog/structs/priorityqueue.js')
script(src='closure-library/closure/goog/structs/prioritypool.js')
script(src='closure-library/closure/goog/net/xhriopool.js')
script(src='closure-library/closure/goog/net/xhrmanager.js')
script(src='closure-library/closure/goog/datasource/datasource.js')
script(src='closure-library/closure/goog/datasource/expr.js')
script(src='closure-library/closure/goog/datasource/datamanager.js')
script(src='closure-library/closure/goog/datasource/fastdatanode.js')
script(src='closure-library/closure/goog/datasource/jsxmlhttpdatasource.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/model.js')
script(src='closure-library/closure/goog/math/range.js')
script(src='closure-thirdparty/closure-thousandrows/piglovesyou/goog/ui/thousandrows/thousandrows.js')
script(src='app/commonui/thousandrows.js')
script(src='closure-library/closure/goog/ui/menuseparatorrenderer.js')
script(src='closure-library/closure/goog/ui/separator.js')
script(src='closure-library/closure/goog/ui/containerrenderer.js')
script(src='closure-library/closure/goog/ui/container.js')
script(src='app/commonui/contextmenu.js')
script(src='closure-library/closure/goog/ui/buttonside.js')
script(src='closure-library/closure/goog/ui/buttonrenderer.js')
script(src='closure-library/closure/goog/ui/nativebuttonrenderer.js')
script(src='closure-library/closure/goog/ui/button.js')
script(src='closure-library/closure/goog/ui/cssnames.js')
script(src='closure-library/closure/goog/ui/custombuttonrenderer.js')
script(src='closure-library/closure/goog/ui/togglebutton.js')
script(src='app/commonui/buttonrenderer.js')
script(src='app/controller/util.js')
script(src='app/controller/frames/container/detail.js')
script(src='closure-library/closure/goog/storage/mechanism/mechanism.js')
script(src='closure-library/closure/goog/storage/mechanism/iterablemechanism.js')
script(src='closure-library/closure/goog/storage/mechanism/errorcode.js')
script(src='closure-library/closure/goog/storage/mechanism/html5webstorage.js')
script(src='closure-library/closure/goog/storage/mechanism/html5localstorage.js')
script(src='closure-library/closure/goog/storage/errorcode.js')
script(src='closure-library/closure/goog/storage/storage.js')
script(src='closure-library/closure/goog/storage/richstorage.js')
script(src='closure-library/closure/goog/storage/expiringstorage.js')
script(src='closure-library/closure/goog/storage/collectablestorage.js')
script(src='app/model/xhr.js')
script(src='closure-library/closure/goog/storage/mechanism/html5sessionstorage.js')
script(src='app/model/model.js')
script(src='app/controller/frames/container/container.js')
script(src='app/events/eventcenter.js')
script(src='app/controller/frames/searchbar/switch/switch.js')
script(src='closure-library/closure/goog/string/stringformat.js')
script(src='app/controller/frames/searchbar/label.js')
script(src='closure-library/closure/goog/events/inputhandler.js')
script(src='app/controller/frames/searchbar/queryinput.js')
script(src='closure-library/closure/goog/ui/ac/autocomplete.js')
script(src='closure-library/closure/goog/dom/selection.js')
script(src='closure-library/closure/goog/useragent/product.js')
script(src='closure-library/closure/goog/ui/ac/inputhandler.js')
script(src='closure-library/closure/goog/ui/labelinput.js')
script(src='closure-library/closure/goog/ui/ac/remotearraymatcher.js')
script(src='closure-library/closure/goog/ui/ac/renderer.js')
script(src='app/controller/frames/searchbar/category/suggest.js')
script(src='app/controller/frames/searchbar/category/category.js')
script(src='app/controller/frames/searchbar/searchbar.js')
script(src='app/controller/frames/frame.js')
script(src='app/controller/frames/frames.js')
script(src='closure-library/closure/goog/i18n/numberformatsymbols.js')
script(src='closure-library/closure/goog/i18n/currency.js')
script(src='closure-library/closure/goog/i18n/numberformat.js')
script(src='app/string/string.js')
script(src='closure-library/closure/goog/fx/draglistgroup.js')
script(src='app/controller/tabs/tab.js')
script(src='app/controller/tabs/tabadder.js')
script(src='app/controller/tabs/tabs.js')
script(src='app/app.js')
script(src='javascripts/main.js')

