
h1.modal-content-title
  img(src="/images/logo-large.png", title="Yan-Yan-Yafuoku.com")

.modal-content-content
  ul.nav.nav-tabs
    li.active
      a(href="javascript:void(0)", tabIndex="-1") ヤン・ヤン・ヤフオク とは
    li
      a(href="javascript:void(0)", tabIndex="-1") 機能とポリシー
    li
      a(href="javascript:void(0)", tabIndex="-1") ご意見、ご要望
  .tab-belongings
    .tab-belonging
      p
        | ヤン・ヤン・ヤフオクは、
        strong Yahoo!オークションに張り付いて商品を探している人
        | が、より楽に良いものを見つるためのサービスです。僕もそのひとりです。
      p Yahoo!オークションのサイトと違い、商品の検索結果を大量にいっぺんに表示できることと、一覧と商品詳細を同時に表示できることが特徴です。
      p
        | このサービスは、Yahoo!オークションが提供するAPIを使って、piglovesyouが作ったサービスです。
        a(href="https://github.com/piglovesyou/auc") ソースコード
        | を公開しています。
    .tab-belonging
      h4 機能
      p 商品を検索して、検索結果と商品詳細を左右に同時に表示できます。タブは５つまで表示可能で、検索条件を記憶しておくことができます。
      p 
        strong ウォッチリストに追加
        | 機能を予定しています。
      h4 ポリシー
      ul
        li
          | ヤン・ヤン・ヤフオクは、利用にあたって何か問題が起きても、
          span.text-error 一切責任を負いません
          | 。
        li 表示を高速化するため、一部データ（時間や入札額など）が古く表示されることがあります。
        li 利用に関するデータは、全てブラウザ側（WebStorage）に保存します。サーバ（私）は、個人情報を一切保持しません。
        li Google Chrome の利用をおすすめします。その他のブラウザは、いまのところ動作確認をしていません。
    .tab-belonging
      p ご意見、ご要望がありましたら、このブログに投稿してください。
      p
        a(href="http://yan-yan-yahuoku.tumblr.com/submit", target="_blank")
          | ヤン・ヤン・ヤフオク　機能更新ブログ
          | &nbsp;
          span.i.i-text o
      p このブログでは、機能更新情報も随時公開していきます。

