
h1.modal-content-title
  img(src="/images/logo-large.png", title="Yan-Yan-Yafuoku")

.modal-content-content
  ul.nav.nav-tabs
    li.active
      a(href="javascript:void(0)") ああああ
    li
      a(href="javascript:void(0)") いいいいい
    li
      a(href="javascript:void(0)") ううううううう
  .tab-belongings
    .tab-belonging
      | あああああああ
    .tab-belonging
      | いいいいい
    .tab-belonging
      | ううううううう

