div.toolbar
  div.left
    div.logo
      a(href='/') auc-pro
  div.right
    a(href='javascript:void(0)',title='watch list',tabindex='0').watch-tab.i E
    div.logout 
      a(href='/logout') logout

  div.tabs
    div.tabs-content
      div.tab.selected
        div.tab-content yeah yeah yeah yeah yeah yeah
      div.tab
        div.tab-content yeah

div.main-frame

script
  main()
