div.toolbar
  div.left
    div.logo
      a(href='/') auc-pro
  div.right
    div.username yeah
    div.logout 
      a(href='/logout') logout

  div.tabs
    div.tab.selected
      div.tab-content yeah yeah yeah yeah yeah yeah
    div.tab
      div.tab-content yeah

div.searchbar
  input(type='text')

div.container.goog-splitpane
  div.list-pane.goog-splitpane-first-container
    div.goog-scroller
      div.goog-scroller-container
  div.detail-pane.goog-splitpane-second-container
  div.goog-splitpane-handle
    div.handle
      div.handle-content


