div.toolbar
  div.left
    div.logo
      a(href='/') auc-pro
  div.right
    div.username yeah
    div.logout 
      a(href='/logout') logout

  div.tabs
    div.tab.selected
      div.tab-content yeah yeah yeah yeah yeah yeah
    div.tab
      div.tab-content yeah

div.searchbar
  input(type='text')

div.container.goog-scroller
  div.goog-scroller-container
