div.toolbar
  div.left
    div.logo
      a(href='/') auc-pro
  div.right
    div.username yeah
    div.logout 
      a(href='/logout') logout

div.container.goog-scroller
  div.goog-scroller-container
