!!!
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/closure-library/closure/goog/base.js')

    script(src='/my/require.js')
    script(src='/my/ds/xhr.js')

    script(src='/javascripts/app.js')
  body!= body
  script
    my.app()
