
- var isProduction = isProduction || false
- var isAuthed = isAuthed || false

doctype html
html
  head
    title ヤン・ヤン・ヤフオク - Yahoo!オークションのビューアサービス

    meta(name="keywords", content="Yahoo!オークション, ヤフオク, Yahoo! Auction, ヤン・ヤン・ヤフオク")
    meta(name="description", content="ヤン・ヤン・ヤフオクは、Yahoo!オークションに張り付いて商品を探している人が、より楽に良いものを見つるためのWebサービスです")
    meta(name="robots", content="index,nofollow")
    meta(http-equiv="pragma", content="no-cache")

    link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/closure-thirdparty/closure-scroller/piglovesyou/goog/css/scroller.css')
    link(rel='stylesheet', href='/stylesheets/main.css')

    - if (isProduction)
      script(src='/javascripts/main-min.js')
    - else
      script(src='http://localhost:9810/compile?id=yan-yan-yahuoku&mode=WHITESPACE')

  body!= body

  - if (isProduction)
    include _googleAnalytics
