
- var isProduction = isProduction || false

!!!
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='http://auc.stakam.net/closure-thirdparty/closure-scroller/piglovesyou/goog/css/scroller.css')

    - if (isProduction)
      script(src='/javascripts/main-min.js')
    - else
      include _scripts

  body!= body
  script
    main()
