div.login-wrap.container
  div.row
    div.span8.offset3
      h1 Welcome to auc-pro.
    div.span6.offset3
      a.btn.btn-primary.btn-large.btn-block(href='/authenticate') login with yahoo! account
