div.login-wrap.container
  div.row
    div.span8.offset3
      h1 認証
    div.span6.offset3
      a.btn.btn-primary.btn-large.btn-block(href='/auth/auth') 認証する

script
  // document.querySelectorAll('.btn')[0].focus();
