div.login-wrap.container
  div.row
    div.span8.offset3
      h1 認証
    div.span6.offset3
      a(href='/auth/auth') 
        img(src='http://i.yimg.jp/images/login/btn/btnMYid.gif', width='293', height='34', alt='Yahoo! JAPAN IDでログイン', border='0')
script
  // document.querySelectorAll('.btn')[0].focus();
