div.login-wrap.container
  div.row
    div.span6.offset3
      h1 認証を解除しました
      p サーバ内にあった認証情報と、ブラウザにあったタブ閲覧情報を完全に消去しました。
    div.span6.offset3
      a.btn.btn-primary.btn-large.btn-block(href='/') ヤンヤンヤフオクに戻る

script
  (window.opener || window).app.model.flushAll();
