
div(style="margin: 100px")
  input#suggest-input(type="text")

script
  // console.log(my.ui.Suggest);
  // new my.ui.Suggest
  var button = new goog.ui.Button('aaa', 
      my.ui.ButtonRenderer.getInstance());
  button.render()
