
  


div#target(style="margin:100px;padding: 20px; width:100px;height: 100px;background:rgba(0,0,0,.05)")
  | yeah

script
  var menu = app.ui.ContextMenu.getInstance();
  goog.events.listen(document.body, 'mousedown', function () {
    menu.launch(goog.dom.getElement('target'), ['9','b','g','l','j']);
  });
