
  


div#target(style="margin:100px;padding: 20px; width:100px;height: 100px;background:rgba(0,0,0,.05)")
  | yeah

script
  var menu = app.ui.ContextMenu.getInstance();
  menu.launch(goog.dom.getElement('target'), [1,2,3,4,5]);
