style
  html,body {height: 100%}
  #target {
    margin:100px;
    padding: 20px;
    width:100px;
    height: 100px;
    background: lightgreen;
    /* background:rgba(0,0,0,.05); */
  }

  // .alert {
  //   -webkit-animation-duration: 3s;
  //   -webkit-animation-name: slidein;
  // }
   
  @-webkit-keyframes slidein {
    from {
      width: 100%
    }
   
    to {
      width: 60%;
    }
  }


// a(href="javascript:pop();")
//   div#target
//     | yeah

script
  app.events.EventCenter.getInstance();

  app.message.alert('oh..');
  setTimeout(function() {
    app.message.error('yah..');
  }, 400);
  setTimeout(function() {
    app.message.success('aaa...');
  }, 800);
  setTimeout(function() {
    app.message.info('aaa...');
  }, 1200);

  var el = document.getElementsByClassName('alert')[0];
  document.body.addEventListener('webkitAnimationEnd', function(e) { console.log(e.currentTarget.tagName); }, true);
  el.addEventListener('webkitAnimationEnd', function(e) { console.log(e.currentTarget.tagName); }, true);


  // var p = new app.ui.common.Dialog();
  // p.setModal(true);
  // p.setContent('are you sure?');
  // p.setVisible(true);
