style
  html,body {height: 100%}
  #target {
    margin:100px;
    padding: 20px;
    width:100px;
    height: 100px;
    background: lightgreen;
    /* background:rgba(0,0,0,.05); */
  }


div#target
  | yeah

script
  var dialog = new app.ui.Dialog();
  goog.events.listen(goog.dom.getElement('target'), 'mousedown', function (e) {
    // TODO* position is something wrong/
    dialog.setContent('yaahh<br />eee');
    dialog.setVisible(true);
  });
  dialog.setContent('yaahh<br />eee');
  dialog.setTitle('yaahh');
  dialog.setVisible(true);
