

$distFromCenter = 120px
$menuItemWidth = 50px
$menuItemLineHeight = 52px
$transitionDuration = .2s
$transitionEasing = ease-out

.contextmenu-overlay  
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%;
  // background-color: rgba(0,0,0,.15)
  opacity 1
  transition: opacity .2s linear
  z-index 1000
  &.goog-container-disabled
    opacity 0

.contextmenu-targetghost
  position absolute
  background rgba(30, 31, 32, 0.15)
  box-sizing border-box
  // border 2px solid rgba(54, 66, 68, .6)
  box-shadow 0 0 9px rgba(0, 0, 0, 0.2) inset

.contextmenu  
  position: absolute;
  top: 300px;
  left: 400px;
  .contextmenu-inner
    position relative
    left ($menuItemWidth / -2)
    top ($menuItemWidth / -2)
  .menu-item
    position: absolute;
    transition:
      -webkit-transform $transitionDuration $transitionEasing,
      opacity ($transitionDuration / 4) linear
    .menu-item-inner
      display: block
      position relative
      width: $menuItemWidth
      height: $menuItemWidth
      border-radius ($menuItemWidth / 2)
      line-height $menuItemLineHeight
      text-align center
      transition:
        background-color ($transitionDuration / 4) linear ($transitionDuration / 4),
        color ($transitionDuration / 4) linear ($transitionDuration / 4),
        -webkit-transform $transitionDuration $transitionEasing
      font-size 38px
      text-decoration none
      color #333
      text-shadow 1px 1px 0 #ccc, 1px -1px 0 #ccc, -1px -1px 0 #ccc, -1px 1px 0 #ccc
    &.goog-control-hover .menu-item-inner,
    &.blinking .menu-item-inner
      text-shadow none
      background-color #0088cc
      color white

    &.goog-control-active .menu-item-inner
      transition:
        background-color 0 linear
      background-color: #0074ad

    &.blinking .menu-item-inner
      transition:
        background-color 0 linear
      background: #009be8

.isHiding .menu-item
  opacity 0
  &.blinking
    opacity 1


  // for $n in 1..5
  //   .menu-item:nth-child({$n})
  //     $degree = 360 / 5 * $n
  //     -webkit-transform: rotate($degree deg) translate($distFromCenter, 0)
  //     .menu-item-inner
  //       -webkit-transform: rotate(($degree * -1) deg)


@keyframes blink
  0% { opacity: 1 }
  49% { opacity: 1 }
  50% { opacity: 0 }
  49% { opacity: 0 }

.blinking
  -webkit-animation-name: blink;
  -webkit-animation-duration: .14s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0s;

  

