

// split pane
.goog-splitpane-handle-horizontal
  cursor: col-resize;

.goog-splitpane-handle,
.goog-splitpane-first-container,
.goog-splitpane-second-container
  position: absolute;


splitPaneHandleHeight = 100px
.goog-splitpane-handle
  width: 0 !important
  overflow: visible !important
  .handle
    position: relative
    top: 50%
    width: 0 !important
    .handle-content
      position: absolute
      width: 20px
      height: splitPaneHandleHeight
      border-radius: 0 1px 1px 0
      background-color: #f3f3f3;
      &:hover
        background-color: #dedede
      top: -50px


.detail-pane
  background-image: url(../images/bg_swirl.png);
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.10) inset
.list-pane
  border-right: 1px #CFCFCF solid;
  .goog-thousandrows-page
    background-image: url(../images/bg_fabric_plaid.png)
  .goog-scroller-bar
    background: none
    width: 20px
  .goog-scroller-bar-thumb
    border-radius: 1px
    background: rgba(0,0,0,.1)
    width: 14px
    left: 3px !important
  .goog-scroller-bar:hover,
  .goog-slider-dragging
    background: rgba(0,0,0,.02)
    .goog-scroller-bar-thumb
      background: rgba(0,0,0,.2)
  .goog-slider-thumb-dragging
    background: rgba(0,0,0,.4) !important








.container
  position: relative
  .goog-thousandrows
    height: 100%
  .goog-thousandrows-row
    height: 160px
