

$distFromCenter = 120px
$menuItemWidth = 50px
$menuItemLineHeight = 52px
$transitionDuration = .2s
$transitionEasing = ease-out

.contextmenu-overlay  
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%;
  background-color: rgba(0,0,0,.1)
  opacity 1
  transition: opacity .2s linear //background-color .1s linear
  
  &.goog-control-disabled
    // background: rgba(0,0,0,0)
    opacity 0
.contextmenu  
  position: absolute;
  top: 300px;
  left: 400px;
  width: 400px;
  height: 400px;
  border: gray 1px solid
  .contextmenu-inner
    position relative
    left ($menuItemWidth / -2)
    top ($menuItemWidth / -2)
  .menu-item
    position: absolute;
    transition: -webkit-transform $transitionDuration $transitionEasing
    .menu-item-inner
      position relative
      width: $menuItemWidth
      height: $menuItemWidth
      border-radius ($menuItemWidth / 2)
      line-height $menuItemLineHeight
      text-align center
      transition:
        background-color ($transitionDuration / 2) linear ($transitionDuration / 2),
        color ($transitionDuration / 2) linear ($transitionDuration / 2),
        -webkit-transform $transitionDuration $transitionEasing
      font-size 38px
    &.goog-control-selected .menu-item-inner,
    &.goog.control-hover .menu-item-inner
      background: #08C
      color white
    &.goog.control-hover .menu-item-inner
      transition:
        background-color ($transitionDuration / 2) linear 0,
        color ($transitionDuration / 2) linear 0,
        -webkit-transform $transitionDuration $transitionEasing
  // for $n in 1..5
  //   .menu-item:nth-child({$n})
  //     $degree = 360 / 5 * $n
  //     -webkit-transform: rotate($degree deg) translate($distFromCenter, 0)
  //     .menu-item-inner
  //       -webkit-transform: rotate(($degree * -1) deg)


