

// split pane



.goog-splitpane-handle-horizontal {
  cursor: col-resize;
}

.goog-splitpane-handle,
.goog-splitpane-first-container,
.goog-splitpane-second-container
  position: absolute;


splitPaneHandleHeight = 100px
.goog-splitpane-handle
  width: 0 !important
  overflow: visible !important
  .handle
    position: relative
    top: 50%
    width: 0 !important
    .handle-content
      position: absolute
      top: -50px
      width: 20px
      height: splitPaneHandleHeight
      background-color: rgba(40,40,40,.2)











.container
  position: relative
  .goog-thousandrows
    height: 100%
  .goog-thousandrows-row
    height: 160px
