
.ac-renderer
  position: absolute
  z-index: 10
  & > .dropdown-menu
    position: static
    display: block

.goog-tooltip
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3)
  z-index: 10

// .btn:active
.btn.goog-button-checked
.btn.goog-button-selected
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

