
fontPath = './modern-pictograms-fontfacekit/'

@font-face
  font-family: 'ModernPictogramsNormal';
  src: url(fontPath + 'modernpics-webfont.eot');
  src: url(fontPath + 'modernpics-webfont.eot?#iefix') format('embedded-opentype'),
       url(fontPath + 'modernpics-webfont.woff') format('woff'),
       url(fontPath + 'modernpics-webfont.ttf') format('truetype'),
       url(fontPath + 'modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
  font-weight: normal
  font-style: normal
.i
  font: 28px/12px 'ModernPictogramsNormal', Arial, sans-serif
