
@import 'nib'
// global-reset()



@import './icon'
@import './contextmenu'

@import './login'

@import './goog'
@import './message'
@import './toolbar'
@import './frame'
@import './container'
@import './searchbar'
@import './detail'

body
  background-image: url(../images/bg_fabric_plaid.png)
  overflow-y: hidden
.yahoo-credit
  position: fixed
  bottom 0
  left 0
  // background-image: url(../images/bg_fabric_plaid.png)
  border-radius 0 3px 0 0
  z-index 10

