
@import 'nib'
global-reset()



@import './icon'
@import './textbox'

@import './toolbar'
@import './frame'
@import './container'
@import './searchbar'

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/bg_fabric_plaid.png)
  overflow: hidden
a
  color: #00B7FF;

