
@import 'nib'
global-reset()

@import './toolbar'
@import './container'

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/bg/fabric_plaid.png)
a 
  color: #00B7FF;

