
.alert
  position absolute
  min-width 60%
  top 0
  left 0
  z-index 9999
  transition opacity .2s linear
  box-shadow 0 2px 10px rgba(0,0,0,.35)
  &.isVisible
    transition opacity .2s linear, -webkit-transform .4s ease-out

  a[href]
    text-decoration underline
