.searchbar
  overflow hidden // .searchbar-label will overflow.
  border-top: 1px #fcfcfc solid
  border-bottom: 1px #cfcfcf solid
  padding: 4px 12px
  background: #f2f2f2
  line-height: 24px
  .form-inline
    white-space nowrap
    margin-bottom: 0
  .btn.i
    font-size 20px
    line-height 20px
  .btn-group .btn
    padding 4px 7px



.searchbar-label
  display inline-block

