.searchbar
  border-top: 1px #fcfcfc solid
  border-bottom: 1px #cfcfcf solid
  padding: 4px 12px
  background: #f2f2f2
  line-height: 24px
  .form-inline
    white-space nowrap
    margin-bottom: 0



.searchbar-label
  display inline-block

