








@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'),
       local('SortsMillGoudy-Regular');
}
       /* url(http://themes.googleusercontent.com/static/fonts/sortsmillgoudy/v4/JzRrPKdwEnE8F1TDmDLMUtsZ51dqzBwIdH2JuTl9mv4.woff) format('woff'); */






html, body {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}


html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
    /* font-family: Georgia, Times, "Times New Roman", serif; */
  font-family: 'Sorts Mill Goudy', serif;
}


/* extend pure */
.pure-table-simple {
  border: none;
}
.pure-table-simple tr:last-child th {
  border-bottom: none;
}
.pure-button-primary,
a.pure-button-primary {
  background-color: #ff1e18;
}










h1 {
  text-indent: .5em;
  display: inline;
  margin: 0;
}

.header .header-toolbar {
  padding: 1.5em 0 .67em;
  border-bottom: 1px #ccc solid;
}

.tag-input {
  padding: .8em  0 .8em 1.3em;
  border-bottom: 1px #e9e9e9 solid;
}
.header-toolbar-rightcontent,
.tag-input-rightcontent {
  float: right;
}
.tag-input-leftcontent {
  overflow: hidden;
}
.tag-input-rightcontent {
  /* font-size: 85%; */
  color: #777;
  padding: .4em .5em .4em 0;
  /* width: 8em; */
  text-align: right;
}

.tag-input-textbox {
  resize: none;
  border: none;
  outline: none;
  height: auto !important;
}






.goog-splitpane-first-container,
.goog-splitpane-second-container {
  height: 100% !important;
}
.goog-splitpane-handle {
  min-height: 100%;
  cursor: col-resize;
}
.goog-splitpane-handle:hover {
  background: #eee;
}
.goog-splitpane-handle:active {
  background: #bbb;
}

.pane {
  overflow: hidden;
}

.pane-list {
  border-right: 1px #e9e9e9 solid;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.pane-list-item {
  padding: 2em 1.5em;
  cursor: pointer;
}
.pane-list-item:hover {
  background: #eee;
}
.pane-list-item-selected,
.pane-list-item-selected:hover {
  background: #bbb;
}
.pane-list-item-selected *,
.pane-list-item-selected:hover * {
  /* color: white; */
}

.pane-list-item-image {
  text-align: center;
  min-height: 70px;
}
.pane-list-item-image img {
  max-width: 100%;
  vertical-align: bottom;
}
.pane-list-item-title,
.pane-list-item-description {
  font-size: 85%;
  padding-left: 1.5em;
}
.pane-list-item-title {
  /* padding-top: 1em; */
  padding-bottom: .4em;
  font-size: 85%;
}
.pane-list-item-description > img {
  vertical-align: middle;
}

.pane-detail {
}
.pane-detail .detail-body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.pane-detail .pure-table {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.pane-detail .pure-table tr:last-child th {
  border-bottom: none;
}













/* tag  */
.button-tag {
  opacity: 1 !important;
  margin-right: 4px;
  padding: .3em .4em;
}
.button-tag:hover {
  cursor: pointer !important;
}
.button-tag.pure-button { border: 1px transparent solid }
.button-tag:focus { border-color: orange }
.button-tag:active { border-color: transparent }

.button-tag,
.tag-input-textbox {
  font-size: 85%;
}

.tag-input-textbox {
  padding: .4em .5em .4em 0;
}

.pure-button-primary .button-remove {
  color: white;
}
.pure-button-primary:hover .button-remove {
}

.button-remove {
  font-family: sans-serif;
  margin: .2em .2em .2em .4em;
  border-radius: .6em;
  display: inline-block;
  min-height: 1.2em;
  min-width: 1.2em;
  line-height: 1.2em;
  text-align: center;
  color: #777;
  cursor: pointer;
}
.button-remove:hover {
  background: #888;
  color: #fcfcfc;
}
.button-remove:active {
  background: #444;
}





.ac-renderer {
  position: absolute;
  z-index: 9999;
}
.ac-renderer .pure-menu-heading .right {
  color: #a9a9a9;
  float: right;
  font-size: 77%;
}
.ac-renderer .mute {
  font-size: 77%;
  color: #a9a9a9;
  margin: 0 .6em;
}
.ac-renderer .ac-active,
.ac-renderer .ac-active a,
.ac-renderer .ac-active a:hover {
  background: #ff1e18; /* same as primary-button */
  cursor: pointer;
}
.ac-renderer .ac-active a,
.ac-renderer .ac-active a .mute {
  color: white;
}













.detail-images img,
.detail-description img {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  vertical-align: bottom;
}
.detail-description {
  padding: 1em 1.8em 5em;
}
.detail-description * {
  width: auto !important;
  height: auto !important;
}

.pane-detail .pure-table {
  width: 100%;
  border: none;
  margin-bottom: 1em;
}
.pane-detail .pure-table th {
  width: 30%;
}







.tab-adder {
  position: absolute;
  top: 1.5em !important;
  padding: 6px;
  line-height: 1.5em;
  color: #777;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.tab-adder:active {
  color: #000;
}

.tab-dragging {
  background: #eee;  
  list-style: none;
  z-index: 9999;
  box-sizing: border-box;
}
.tab-dragging .button-remove {
  display: none;
}
.tab-dragging a {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-left: 0;
  border-right: 0;
  color: #777;
  line-height: 1.5em;
  text-decoration: none;
}
.pure-menu-selected.tab-dragging a {
  color: #000;
}

.header-tabs li {
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
}
.header-tabs li:hover,
.header-tabs li a:hover {
  background: #eee;
}
.header-tabs li:only-child .button-remove {
  display: none;
}
.header-tabs li a {
  display: inline-block;
  max-width: 8em;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: col-resize;
  vertical-align: middle;
}

.pure-menu .pure-menu-selected,
.pure-menu .pure-menu-selected a,
.pure-menu .pure-menu-selected a:hover {
  background: #bbb;
}
.pure-menu .pure-menu-selected a {
  /* color: white; */
}
.pure-menu li .button-remove {
  visibility: hidden;
  /* color: white; */
}
.pure-menu li:hover .button-remove {
  visibility: visible;
}

.header-tabs li .button-remove {
  position: absolute;
  top: 6px;
  right: 6px;
}

.body .frame {
  display: none;
}
.body .app-frame-selected {
  display: block;
}


/* yahoo color #ff1e18 */

