
toolbarHeight = 32px
tabBorderColor = #b6b6b6

toolbarLeftWidth = 62px
toolbarRightWidth = 100px
.toolbar
  background: linear-gradient(top, black, #444);
  height: toolbarHeight
  box-sizing: border-box
  border-bottom: 1px tabBorderColor solid
  line-height: toolbarHeight
  

  .left
    width: toolbarLeftWidth
    float: left
  .right
    width: toolbarRightWidth
    box-sizing: border-box
    padding-right: 6px
    float: right
    text-align: right

  .logo,
  .logout,
  .username,
  .watch-tab
    display: inline-block
    padding: 0 3px
  .watch-tab
    color: rgba(255,255,255,.4)
    &:hover
      color: rgba(255,255,255,.6)
    &:focus
      color: rgba(255,255,255,1)
    cursor: pointer
    text-decoration: none

tabHeight = 24px
  
tabSelectedStyle()
  box-shadow: 0 1px 0 #f2f2f2 // hide white border
  border-bottom: 1px transparent solid

tabUnselectedStyle()
  box-shadow 0 -16px 16px rgba(0,0,0,.1) inset
  border-bottom: 1px tabBorderColor solid
  
.tabs
  margin-left: toolbarLeftWidth
  margin-right: toolbarRightWidth
  padding-top: toolbarHeight - tabHeight

.tab
  position: relative
  float: left
  padding: 0 15px 1px
  margin-right: -18px
  box-sizing: border-box
  tabUnselectedStyle()
  background: white
  height: tabHeight
  width: 18%
  min-width: 180px
  line-height: tabHeight - 1
  background: url(../images/bg_tableft.png) left top no-repeat,
              url(../images/bg_tabright.png) right top no-repeat;
  text-align: center
  color: #444
  cursor: default

  &.selected
    tabSelectedStyle()
    z-index: 1
    .tab-content
      tabSelectedStyle()
      height: 100%

.tab-dragging
  top: toolbarHeight - tabHeight !important

.tab-content
  ellipsis(true)
  tabUnselectedStyle()
  background: url(../images/bg_tabcenter.png) left top repeat-x;

.tabs-content
  position: relative
  clearfix()
