
toolbarHeight = 32px

.toolbar
  background: linear-gradient(top, black, #444);
  color: gray
  height: toolbarHeight
  line-height: toolbarHeight

  .left
    float: left
  .right
    float: right

  .logo,
  .logout,
  .username
    padding: 0 3px
    display: inline-block


