
detailTitleHeight = 36px

.goog-splitpane-second-container
  a[href]
    text-decoration underline
  .goog-scroller-container
    position: relative
  .goog-scroller-bar
    z-index: 2

  .detail-emptymessage
    color:lightgray
    text-align:center

  .detail-title
    clearfix()
    margin: 0
    padding: 0 20px 0 10px
    background: whiteSmoke;
    line-height: detailTitleHeight

  .detail-title
    position: absolute
    box-sizing: border-box
    width: 100%
    border-bottom: 1px #CFCFCF solid
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1)
    z-index: 1
  .detail-inner
    padding-top: detailTitleHeight
  .detail-title-fixedstatebutton
    color #999

  .detail-title-inner
    ellipsis(true)
  .detail-title-buttons
    float: right

  .detail-title-fixedstatebutton
    border none
    padding: 5px;
    margin-bottom: 2px;
    font-size: 22px

  .detail-description-container
    margin: 10px 20px 50px

  .detail-item-link
    text-align right

  // table style
  .table th
    width: 30%
  .table-bordered th
    font-weight: normal
    background: #D9EDF7
  .detail-td-tablecontainer
    padding: 0
    > .table
      margin-bottom: 0
    th
      border-left: none

.goog-scroller:focus
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
              0 0 8px rgba(82, 168, 236, 0.6);

