
.alert
  position absolute
  border-radius 2px
  min-width 60%
  max-width 80%
  top 0
  left 0
  z-index 9999
  transition opacity .2s linear
  box-shadow 0 2px 4px rgba(0,0,0,.3)
  &.isVisible
    transition opacity .2s linear, -webkit-transform .4s ease-out

  a[href]
    text-decoration underline
